.form {
    background-color: white;
    padding: 20px;
    margin: 1px 20px 1px 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.form__input {
    padding: 8px;
    border: 1px;
}

.form__input {
    border: 2px solid #eee;
}

.form__input:active {
    border-color: black;
}

.form__button {
    background-color: teal;
    color: white;
    padding: 8px;
    margin-left: 15px;
    border-style: none;
}

.form__button:active {
    border: 2px solid black;
}