

.taskList {
    background-color: white;
    padding: 15px;
    margin: 1px 20px 1px 20px;
    list-style: inside;
}

.taskList__task {
    border-bottom: 1px solid #eee;
    list-style-type: none;
    padding: 5px;
    font-size: 17px;
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
}

.list__taskText {
    text-decoration:line-through;
    margin-left: 10px;
    margin-top: 5px;
}

.list__buttonDone {
    background-color: green;
    color: white;
    height: 33px;
    width: 33px;
}


.list_buttonRemove {
   float: right;
   background-color: red;
   height: 33px;
}