

.taskList {
    background-color: white;
    padding: 15px;
    margin: 1px 20px 1px 20px;
    list-style: inside;
}

.taskList__task {
    border-bottom: 1px solid #eee;
    list-style-type: none;
    padding: 5px;
    font-size: 17px;
    justify-content: center;
}

.taskList__task--crossed {
    text-decoration:line-through
}

.list__buttonDone {
    background-color: green;
    padding: 10px;
    margin-bottom: 2px;
}

.list_buttonRemove {
   float: right;
   background-color: red;
   padding: 10px;
}